<div id="notice"><%= notice %></div>


<%= link_to "Add new", new_student_path %>
<h1>List of Students</h1>
<table>
<tr>
	<th>First Name</th>
	<th>Last Name</th>
	<th>Gender</th>
	<th>Status</th>
	<th>Action</th>
</td>
<% @students.each do |s| %>
<tr>
	<td><%= s.first_name %></td>
	<td><%= s.last_name %></td>
	<td><%= s.gender %></td>
	<td>
		<% if s.status %>
			<%= link_to "Inactive", inactive_url(s), :method => :stu_inactive, :data => {:confirm => "Are you sure?"} %>
		<% else %>
			<%= link_to "Activate", active_url(s), :method => :stu_active, :data => {:confirm => "Are you sure?"} %>
		<% end %>
	</td>
			
	<td>
		<%= link_to "Show", s %>
		<%= link_to "Edit", edit_student_path(s) %>
		<%= link_to "Delete", s, :method => :delete, :data => {:confirm => "Are you sure?"} %>
	</td>
</td>
<% end %>
</table>
